<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New pomo</h1>
    <% if (editLast) { %>
        <form action="/api/editLastPomo" method="post">
            <% } else { %>
                <form action="/api/insertPomo" method="post">
                    <% } %>
                        <div id="categoryDiv">
                            <h2>Category</h1>
                        </div>
                        <div>
                            <label for="dateSelector"></label>
                            <input type="date" id="dateSelector" name="date">
                        </div>
                        <button>Submit</button>
                </form>

                <script src="/axios.standalone.min.js"></script>
                <script src="/common.js"></script>
                <% if (editLast) { %>
                    <script src="/editLast.js"></script>
                    <% } else { %>
                        <script src="/insert.js"></script>
                        <% } %>
</body>

</html>