<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Control</h1>
    <form action="">
        <div id="categoryDiv">
            <h2>Categories</h1>
        </div>
        <div>
            <label for="dateSelector">Date of reference</label>
            <input type="date" id="dateSelector">
        </div>
        <div>
            <canvas id="averageChartDiv"></canvas>
            <ul id="lastInputsUl">
            </ul>
            <canvas id="daysBeforeChartDiv"></canvas>
            <canvas id="monthChartDiv"></canvas>
        </div>
        </div>
    </form>
    <script src="/axios.standalone.min.js"></script>
    <script src="/chart.js"></script>
    <script src="/common.js"></script>
    <script src="/control.js"></script>
</body>

</html>